<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ .Site.Title }}</title>
  <link rel="shortcut icon" href="/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A blog about stuff. Mostly technical stuff.">
  <style>
    html {
      font: 16px 'Verdana';
      max-width: 900px;
      margin: 0 auto;
  	}

    body {
      margin: 1.5em;
    }

    p {
        line-height: 1.75em;
    }

    h2 {
      margin-top: 2em;
      margin-bottom: 0em;
    }

    h3, h4 {
      margin-top: 1.5em;
      margin-bottom: -0.35em;
    }

    pre {
      padding: 8px;
    }
  </style>
</head>
<body>
  <h1>{{ .Title }}</h1>
  {{ block "main" . }}
  {{ .Content }}
  {{ end}}
</body>
</html>